.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.03em;
  color: #212121;
  @include tablet {
    font-size: 24px;
    line-height: calc(28 / 24);
  }
  @include desktop {
    font-size: 26px;
    line-height: calc(31 / 26);
  }
}

.logo__accent {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.03em;
  color: var(--accent-blu-color);
  @include tablet {
    font-size: 24px;
    line-height: calc(28 / 24);
  }
  @include desktop {
    font-size: 26px;
    line-height: calc(31 / 26);
  }
}
